*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box; 
}

h3{
  padding:20px;
  font-family:"Poppins";
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
}

html,body{
  height: 100%;
  margin:0;
  padding:0;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main{
  flex:1;
  background-color: #bc9c22;
}

body{
  background-color: #bc9c22;
}



.logo{
  height: 150px;
}


